<mat-toolbar>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/wishlist">Wishlist</button>
</mat-toolbar>

<mat-form-field>
  <input matInput type="text" placeholder="Search for a book" [(ngModel)]="searchTerm" (ngModelChange)="search()">
</mat-form-field>

<mat-card *ngFor="let book of bookList" (click)="addToWishlist(book)">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="{{ book.imageLinks?.thumbnail }}" alt="Book Cover">
    </div>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.authors?.join(', ') }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ book.publisher }}, {{ book.publishedDate }}</p>
    <p>{{ book.description }}</p>
  </mat-card-content>
</mat-card>
